body{
  background-color: white;
}
form {
  display: flex;
  justify-content: center;
  margin: 20vh;
}
form fieldset {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
form table {
  margin: 20px;
}
form table td,
form table th {
  border: 1px solid gray;
  text-align: center;
  padding: 10px 20px;
}
form .btn {
  padding: 5px 20px;
}
form a {
  position: absolute;
  bottom: -20px;
  left: 20px;
  color: gray;
  text-decoration: none;
  font-size: 20px;
}
