body {
  background-color: white;
}
form {
  display: flex;
  margin: 3vh;
  justify-content: center;
  color: gray;
}

form fieldset {
  padding: 30px;
}
form label {
  display: inline-block;
  width: 110px;
  margin-bottom: 20px;
}
.btn {
  width: 200px;
  margin: 5px 5px;
  border-radius: 10px;
  background-color: #9ACBD0;
  border: 2px solid #9ACBD0;
  color: #2973B2;
  box-sizing: border-box;
  text-align: center;
  height: 30px;
  font-size: 0.9rem;
  line-height: 26px;
}
.inputText {
  width: 180px;
  border: 2px solid #9ACBD0;
  border-radius: 10px;
  margin: 5px;
  padding: 5px;
}
fieldset {
  border: 1px solid gray;
}
