body {
  background-color: white;
}
form {
  display: flex;
  margin: 20vh;
  justify-content: center;
  color: gray;
}

form fieldset {
  padding: 30px;
}
form label {
  display: inline-block;
  width: 110px;
  margin-bottom: 20px;
}
.btn {
  width: 200px;
}
.inputText {
  width: 200px;
}
fieldset {
  border: 1px solid gray;
}